PORT=5000
MONGO_URI=mongodb+srv://USER:PASS@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=wzpdcl-load-monitor
JWT_SECRET=change-this-to-a-very-long-random-string
CLIENT_ORIGIN=http://localhost:3000,https://your-frontend.vercel.app
NODE_ENV=development
TZ=Asia/Dhaka
